h2 {
    color: crimson;
}

table,
th,
td {
    border: 1px solid red;
    padding: 5px 10px;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: dodgerblue;
    border-right: 1px solid;
    padding: 0 5px;
    ;
}

a:last-child {
    border-right: none;
}
