    <!doctype html>
    <html>
        <head>
            <title>First UI Project | About Us</title>  
            <link rel="stylesheet" href="/css/style.css">
        </head>

        <body>

            <h1 style="color:red">About Us Page</h1>
            <h2>Tables</h2>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                <tr>
                    <td>Rabindra</td>
                    <td>Shrestha</td>
                
                </tr>
                <tr>
                    <td>Toran</td>
                    <td>Shrestha</td>
                
                </tr>
            </table> 
        </body>    
    </html>
