<!doctype html>
<html>

<head>
    <title>First UI Project | References</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/node_modules/bootstrap3/dist/css/bootstrap.css">
</head>

<body>

    <h1 style="color:red">Reference Page</h1>
    <table class="table table-striped">
        <tr>
            <th>Links</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="http://www.w3schools.com/" target="_blank">W3Schools</a></td>
            <td>W3Schools is optimized for learning, testing, and training.</td>

        </tr>

        <tr>
            <td><a href="http://www.javatpoint.com/" target="_blank">JavaTutorials</a></td>
            <td>Learn Java online easily and simply.</td>
        </tr>
    </table>
    <!-- Standard button -->
    <button type="button" class="btn btn-default">Default</button>

    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button type="button" class="btn btn-primary">Primary</button>

    <!-- Indicates a successful or positive action -->
    <button type="button" class="btn btn-success">Success</button>

    <!-- Contextual button for informational alert messages -->
    <button type="button" class="btn btn-info">Info</button>

    <!-- Indicates caution should be taken with this action -->
    <button type="button" class="btn btn-warning">Warning</button>

    <!-- Indicates a dangerous or potentially negative action -->
    <button type="button" class="btn btn-danger">Danger</button>

    <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
    <button type="button" class="btn btn-link">Link</button>
</body>

</html>
