<!doctype html>
<html>

<head>
    <title>First UI Project | References</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h1 style="color:red">Reference Page</h1>
    <table>
        <tr>
            <th>Links</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="http://www.w3schools.com/" target="_blank">W3Schools</a></td>
            <td>W3Schools is optimized for learning, testing, and training.</td>

        </tr>

        <tr>
            <td><a href="http://www.javatpoint.com/" target="_blank">JavaTutorials</a></td>
            <td>Learn Java online easily and simply.</td>
        </tr>
    </table>
</body>

</html>
